extends layout

block content
    div.mdl-grid
        div.mdl-cell.mdl-cell--2-col-desktop.mdl-cell--6-col-tablet.mdl-cell--12-col-phone
            include add_alarm
        div.mdl-cell.mdl-cell--10-col-desktop.mdl-cell--6-col-tablet.mdl-cell--12-col-phone
            div.mdl-grid#alarmList
                include alarm_list

